<suite name="KPN Regression Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Test_suites">
        <classes>
            <class name="KPNAutomation.RegressionsuitePrepaid"/>
        </classes>
    </test>
</suite>